<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Steganography</title>
    <style>
        .image-container{
            position: relative;
            width: 50%;
            float: left;
            text-align: center;
        }
        .button-link{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    </style>
</head>
<body>
    {% include 'homenavigation.html' %}

    <div class="image-container mt-5">
        <img src="{% static 'images/text.jpg'%}" height="300" width="500">
        <a href="text/" class="btn btn-danger button-link">Text Encryption</a>
    </div>

    <div class="image-container mt-5">
        <img src="{% static 'images/imgsteg.jpeg'%}" height="300" width="500">
        <a href="image/" class="btn btn-danger button-link">Steganography</a>
    </div>

</body>
</html>